# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
backend\debug.log

# All env files
.env
.env.*
staticfiles/
db.sqlite3
.cache
*.cache

# Any pycache
__pycache__