.user-button {
    display: flex;
    align-items: center;
    background-color: #1db954; /* Spotify's official color - placeholder */
    color: white; /*white text*/
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .user-button:hover {
    background-color: #629c16; /*slightly lighter for now for testing - will change later */
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .username {
    flex-grow: 1;
  }
  
  .logout-icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }