div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.song-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto auto 1rem; 
}
.song-info p {
    margin: 0;
    padding: 0;
}
.song{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: var(--background);
    border-radius: 45px;
    /* border: 1px solid black; */
    height : 150px;
    margin-bottom: 20px;
    
}

.song:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

.song img {
    width: fit-content;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.song-title {
    font-size: 1.1em;
    font-weight: bold;
}
.song-artist {
    font-size: 1em;
    opacity: 90%;
    /* font-weight: bold; */
}
.song-album {
    font-size: 0.9em;
    opacity: 80%;
    /* font-weight: bold; */
}
.play-button {
 width: 10;
  height: 10;
  /* display: inline-block; */
  transform: rotate(360deg);
  align-self: right;
    z-index: 10;
    visibility: hidden;
}
.play-button::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid white; 

}
.song:hover .play-button  {
    visibility: visible;
    opacity: 1.0;
}
.song-image-container:hover .song-image {
    opacity: 0.5; 
}

.song-image-container:hover .play-button {
    display: inline-block;
}
