/* .artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    color: white;
    width: 120px; 
    max-height: 150px;
    
}*/

/*
.artist-name {
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
    color: white;
} 
    */

.artist-image {
    width: clamp(100px, 15vw, 150px);
    height: clamp(100px, 15vw, 150px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
} 

.artist-image:hover {
    transform: scale(1.1);
} 

.artist-name {
    font-size: clamp(12px, 1vw, 16px);
    margin-top: 8px;
    color: white;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.artist {
    cursor: pointer;
}