.refresh-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    
}

.refresh-icon { 
    width: 40px;
    height: 40px;
    margin-right: 40px;
    margin-top: 30px;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
    /* animation: spin 2s none; */
}

.spinning {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/* 
  .refresh-button:active .refresh-icon {
    animation: spin 2s linear;
  } */

