/* .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #121212;
} */

.tile {
    background-color: var(--primary);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    /* padding: 40px; */
    aspect-ratio: 1 / 1;
}

.tile-content {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px;
    z-index: 2;
    border-radius: 15px;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}

.tile-icon {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    z-index: 3;
}

.tile-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    z-index: 4;
    margin-top: 20px;
}
