/* Main container - Playlists on the left, Recommended Songs on the right */
.add-to-playlist-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: #121212;
    /* padding: 20px; */
    /* z-index: -1; */
}

/* LEFT: Playlist Section */
.playlist-section {
    width: 50%;
    overflow: clip;
    /* flex-grow: 0;; */
    /* float: left; */
    /* position: absolute;
    top: 0;
    left: 0; */
    background-color: #3ACC7C50;
    padding: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.playlist-section-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 35px;
}

/* .playlist-item {
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 5px 0;
    border-radius: 10px;
    background: linear-gradient(to right, #2a2a2a, #1c1c1c);
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.playlist-item:hover {
    background: #3a3a3a;
    transform: scale(1.02);
}

.playlist-image {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin-right: 15px;
}

.playlist-name {
    color: white;
    font-size: 16px;
    font-weight: 500;
} */

/* Error Message */
.error-message {
    color: #ff6b6b;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}
.add-songs-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 50%;
    /* position: absolute; */
    /* right: 0;
    bottom: 0; */
    /* flex-grow: 0; */
    height: 100vh;
    background-color: var(--background);
    padding: 20px;
    margin-bottom: 5px;
    align-items: center;
    overflow: auto;
    /* gap: 10px; */
    /* float: right; */
}

.add-songs-header {
    display: flex;
    justify-content: space-between; /* Space between the title and button */
    width: 100%; /* Take up the full width */
    align-items: center; /* Vertically align the items */
}

.add-songs-container .scroll{
    gap: 1vh;
}

.add-songs-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 35px 0 0 30px;
    text-align: left;
    align-self: flex-start;
}