:root {
  --brightblue: #5DA9E9;
  --violetpurple:#D71E95;
  --background: #112112;
  --primary: #233633;
  --secondary: #3ACC7C;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

#root h1 {
  text-align: center;
}

/* Playlist Scroll */
.scroll {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Changed from auto to scroll */
  align-items: center;
  margin-top: 20px;
  max-height: 75vh; /* Adjusted height for better spacing */
  width: 100%;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--secondary) var(--primary); /* For Firefox */
}

.scroll::-webkit-scrollbar {
  width: 12px; /* For Chrome, Safari, and Opera */
}

.scroll::-webkit-scrollbar-track {
  background: var(--primary); /* For Chrome, Safari, and Opera */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--secondary); /* For Chrome, Safari, and Opera */
  border-radius: 10px;
  border: 3px solid var(--primary); /* Adjust the border to match the track */
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

img {
  background-color: transparent;
}
.img {
  background-color: transparent;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.player-container{
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
}
.player{
  width: 90%;
}